/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Web font: import
   ========================================================================== */

 /* Nanum Gothic */
 @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: 'Nanum Gothic', sans-serif;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * 가독성을 위해 선택 영역(마우스 드래그등)의 하이라이트 부분에서 `text-shadow` 효과를 제거:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * 선택 영역에 대한 규칙은 분리되어 있다.
 * 본인의 디자인에 맞는 배경 색상을 설정하자.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * 좀 더 세련된 수평선을 위해
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * audio, canvas, iframe, image와 video의 컨테이너 하단의 간격을 제거.
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * fieldset 요소의 여백과 테두리 제거
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * `textarea`의 세로 방향으로만 크기조정 가능
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    border-bottom: 2px solid #f5b63b;
    color: #000;
    font-family: sans-serif;
    margin: 0 0 1em;
    padding: 1em 0;
    text-align: center;
    z-index: 999;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-size: .75em;
}

#loading {
    background: url(../img/loading.gif) no-repeat 0 0;
    position: absolute;
    width: 35px;
    height: 35px;
    left: 50%;
    top: 50%;
    margin: 0 -17px 0 -17px;
}

#wrap {
    width: 900px;
    margin: 0 auto;
}
#wrap h1,
#wrap p {
    text-align: center;
}
.sample {
    border-bottom: 1px dotted #ccc;
    padding: 1em 0;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * 시각적으로 숨기고 스크린리더에서도 감춤.
 */

.hidden {
    display: none !important;
}

/*
 * 시각적으로 숨기고, 스크린리더에서는 이용가능:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * .visuallyhidden 클래스가 지정된 요소에 키보드로 포커스시 화면에 표시:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * 시각적으로 숨기고, 스크린리더에서도 이용할 수 없지만, 화면에 영역은 남김
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. `content` 속성값으로 간격을 벌린 값이 들어갔는데
 *     이는 `contenteditable` 속성이 문서 어딘가에 포함되면 발생하는 오페라 버그를 회피하는 방법중에 하나이다.
 *     그렇지않으면, `clearfix` 클래스를 받을 요소의 상단과 하단에 표시할 공간이 발생한다.
 * 2. `block` 보다 `table`을 사용하는 것이 자식 요소의 `top-margin` 을 포함하는 `:before`를 사용할때 유용하다.
 *      (The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.)
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* 조건을 만족하는 뷰포트에 대한 스타일을 조정 */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* 고해상도 기기를 위한 스타일 조정 */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* 검정색의 글씨가 더 빠른 프린트가 가능:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
