@charset "utf-8";

/**
 * 1.0 - 기본 설정
 * 2.0 - 사이트 구조
 * 2.1 - 회사소개
 * 2.2 - 사업분야
 * 2.3 -
 * 2.4 -
 * 2.5 - 게시판
 * 3.0 - 플러그인
 * 4.0 - 미디어 쿼리
 * --------------------------------------------------------------------------
 */

/* ==========================================================================
 * 1.0 기본 설정
 * ========================================================================== */

/* WEB FONT */

@font-face {
    font-family: "notokr-th";
    src: url("../fonts/notokr-thin.eot");
    src: url("../fonts/notokr-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-thin.woff2") format("woff2"), url("../fonts/notokr-thin.woff") format("woff"), url("../fonts/notokr-thin.ttf") format("truetype"), url("../fonts/notokr-thin.svg#notokr-thin") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "notokr-demi";
    src: url("../fonts/notokr-light.eot");
    src: url("../fonts/notokr-light.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-light.woff2") format("woff2"), url("../fonts/notokr-light.woff") format("woff"), url("../fonts/notokr-light.ttf") format("truetype"), url("../fonts/notokr-light.svg#notokr-light") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "notokr-r";
    src: url("../fonts/notokr-regular.eot");
    src: url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-regular.woff2") format("woff2"), url("../fonts/notokr-regular.woff") format("woff"), url("../fonts/notokr-regular.ttf") format("truetype"), url("../fonts/notokr-regular.svg#notokr-regular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "notokr-b";
    src: url("../fonts/notokr-bold.eot");
    src: url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-bold.woff2") format("woff2"), url("../fonts/notokr-bold.woff") format("woff"), url("../fonts/notokr-bold.ttf") format("truetype"), url("../fonts/notokr-bold.svg#notokr-bold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "notokr-bk";
    src: url("../fonts/notokr-black.eot");
    src: url("../fonts/notokr-black.eot?#iefix") format("embedded-opentype"), url("../fonts/notokr-black.woff2") format("woff2"), url("../fonts/notokr-black.woff") format("woff"), url("../fonts/notokr-black.ttf") format("truetype"), url("../fonts/notokr-black.svg#notokr-black") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* RESET THE BOX-SIZING */

* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

/**
 * BODY RESET
 * 1. iOS와 안드로이드의 웹킷 기반 브라우저(사파리, 크롬 등)에서 링크영역 하이라이트를 삭제
 */

html {
    font-size: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0.3); /* 1 */
}
body {
    font-family: "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움" ,dotum, AppleGothic, sans-serif;
    color: #222;
    font-size: 0.875em;
    letter-spacing: -1px;
    line-height: 1.4;
}
::-moz-selection {
    background: #ffb966;
    text-shadow: none;
}
::selection {
    background: #ffb966;
    text-shadow: none;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    padding: 0;
    margin: 0;
}

/* LINKS */

a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:focus {
    text-decoration: none;
}

/* HEADING */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    color: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small,
h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small,
.h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small,
h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small{
    font-size: 65%;
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small,
h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
    font-size: 75%;
}
h1, .h1 {
    font-size: 34px;
}
h2, .h2 {
    font-size: 24px;
}
h3, .h3 {
    font-size: 20px;
}
h4, .h4 {
    font-size: 18px;
}
h5, .h5 {
    font-size: 14px;
}
h6, .h6 {
    font-size: 12px;
}

/* FLOATING */

.pull-right {
    float: right !important;
}
.pull-left {
    float: left !important;
}

/* TEXT ALIGNMENT */

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.text-nowrap {
    white-space: nowrap;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.lead {
    font-size: 21px;
}
small,
.small {
    font-size: 85%;
}
mark,
.mark {
    background-color: #fcf8e3;
    padding: .2em;
}
address {
    margin-bottom: 25px;
    font-style: normal;
}

/* LIST STYLE */

ul, ol, dl {
    list-style: none;
}

/* IMAGE */

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 6px;
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}

/* TABLE */

table.basic {}
table.basic th,
table.basic td {
    padding: 5px 8px;
    border-bottom: 1px solid #c5c5c5;
}

table.bordered {}
table.bordered th,
table.bordered td {
    padding: 5px 8px;
    border: 1px solid #c5c5c5;
}
table.stripe {}
table.stripe th,
table.bordered td {
    padding: 5px 8px;
}
table.stripe tr:nth-of-type(2n+0) td,
table.stripe tr:nth-of-type(2n+0) th {
    background: #f7f7f7;
}

/* BUTTONS */

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #ccc;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
    color: #333333;
    text-decoration: none;
}
.btn:active,
.btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
}
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
}

/* FORM FIELD */

textarea {
    resize: vertical;
}
fieldset {
    border: 0;
    min-width: 0;
}
::-webkit-input-placeholder {
    color: #ccc; /* Chrome/Opera/Safari */
}
::-moz-placeholder {
    color: #ccc; /* Firefox 19+ */
}
:-ms-input-placeholder {
    color: #ccc; /* IE 10+ */
}
:-moz-placeholder {
    color: #ccc; /* Firefox 18- */
}

/* ETC. */

#mask {
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 600;
}
.divider {
    display: block;
    margin: 20px auto;
    border-top: 1px solid #ddd;
    height: 1px;
}
.close {
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
    clear: both;
}
audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/**
 * HELPER CLASSES
 * --------------------------------------------------------------------------
 */

/**
 * 시각적으로 숨기고 스크린리더에서도 감춤.
 */

.hidden {
    display: none !important;
}

/**
 * 시각적으로 숨기고, 스크린리더에서는 이용가능:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * .visuallyhidden 클래스가 지정된 요소에 키보드로 포커스시 화면에 표시:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/**
 * 시각적으로 숨기고, 스크린리더에서도 이용할 수 없지만, 화면에 영역은 남김
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. `content` 속성값으로 간격을 벌린 값이 들어갔는데
 *     이는 `contenteditable` 속성이 문서 어딘가에 포함되면 발생하는 오페라 버그를 회피하는 방법중에 하나이다.
 *     그렇지않으면, `clearfix` 클래스를 받을 요소의 상단과 하단에 표시할 공간이 발생한다.
 * 2. `block` 보다 `table`을 사용하는 것이 자식 요소의 `top-margin` 을 포함하는 `:before`를 사용할때 유용하다.
 *      (The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.)
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * BROWSER UPGRADE PROMPT
 * IE9미만 브라우저에서 접속시 업데이트 알림문구 노출
 * --------------------------------------------------------------------------
 */

.browser-mask {
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9998;
}
.browser-upgrade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f7f7f7;
    border-bottom: 2px solid #f5b63b;
    color: #000;
    font-family: sans-serif;
    margin: 0 0 1em;
    padding: 1em 0;
    text-align: center;
    z-index: 9999;
}

/* ==========================================================================
 * 2.0 사이트 구조 (Mobile First)
 * 320px ~ 767px : 100% phones, less than 768px
 * ========================================================================== */

#site-header {}
#site-main {}
#site-footer {
    margin-top: 40px;
    background: #222;
    padding: 40px 0;
    text-align: center;
    color: #777;
    line-height: 1.6;
    font-size: 13px;
}
.container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 6px;
}
.container-fluid {
    margin: 0 auto;
    padding: 0 6px;
}

/**
 * SITE-HEADER
 * --------------------------------------------------------------------------
 */

#site-header h1 {
    display: inline-block;
    margin: 0;
}
#site-header h1 a {
    background: url(../img/logo.png) no-repeat 0 0;
    width: 55px;
    height: 70px;
    text-indent: -9999px;
    margin-left: 15px;
    margin-top: 15px;
    display: block;
}

/* TOGGLE NAV */

#toggle-close {
    width: 40px;
    height: 40px;
    display: block;
    background: #000;
    text-indent: -9999px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 195px;
    top: 0;
    outline: 0;
    border: 0;
}
#toggle-close:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f00d";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    width: 40px;
    height: 40px;
    text-indent: 0;
    line-height: 38px;
    color: #f58703;
}
#toggle-open {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -9999px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    background: #fff;
    right: 20px;
    top: 20px;
    outline: 0;
    border: 0;
}
#toggle-open:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f0c9";
    display: inline-block;
    font: normal normal normal 26px/1 FontAwesome;
    width: 40px;
    height: 40px;
    text-indent: 0;
    line-height: 38px;
}
.toggle-nav {
    background: #222 url(../img/logo.png) no-repeat 50% 15px;
    padding-top: 100px;
    width: 195px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -235px;
    z-index: 800;
}
.toggle-nav li a {
    color: #fff;
    display: block;
    padding: 0 20px;
    line-height: 2.4;
    font-weight: bold;
    position: relative;
}
.toggle-nav li.main-cate>a:after {
    content: "\f068";
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 8px;
    font: normal normal normal 14px/1 FontAwesome;
}
.toggle-nav li.last>a:after {
    display: none;
}
.toggle-nav li {
    background: #f89f06;
    border-top: 1px solid #ccc;
}
.toggle-nav li:first-child {
    border-top: 0;
}
.toggle-nav li.last {
    background: #222;
    border-bottom: 1px solid #333;
}
.toggle-nav li.last a {
    border-bottom: 1px solid #000;
}
.toggle-nav li li {
    background: #fff;
}
.toggle-nav li li a {
    color: #333;
}

/* GNB */

#gnb {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}
#gnb li {
    display: inline-block;
    font-size: 0;
}
#gnb li a {
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 0 6px;
}

/**
 * SITE-MAIN
 * --------------------------------------------------------------------------
 */

/* MAIN-VISUAL */

/**
 * SITE-FOOTER
 * --------------------------------------------------------------------------
 */

#site-footer .logo {
    color: #f58703;
    font-size: 22px;
    display: inline-block;
    margin-bottom: 10px;
}

/* ==========================================================================
 * 2.1 회사소개
 * ========================================================================== */

/* ==========================================================================
 * 3.0 플러그인
 * ========================================================================== */

/*
 * BxSlider (http://bxslider.com)
 * ----------------------------------------------------------------------------
 */















/* ==========================================================================
 * 4.0 미디어 쿼리
 *
 * 1. 320px ~ 767px : 100% phones, less than 768px
 * 2. 768px ~ 991px : 750px tablets, 768px and up
 * 3. 992px ~ 1199px : 970px desktops, 992px and up
 * 4. 1200px ~ : 1170px large desktops, 1200px and up
 * ========================================================================== */

/**
 * 2. Tablets
 * Web font: 모바일에서는 기본 시스템 글꼴 표기, Tablet & Desktop 이상 기기에서만 사용
 */

@media all and (min-width:768px) {
    body {
        font-family: "notokr-r", "나눔바른고딕", NanumBarunGothic, "나눔고딕", NanumGothic, "맑은 고딕", "Malgun Gothic", "돋움" ,dotum, AppleGothic, sans-serif;
        letter-spacing: 0;
    }
    a:hover,
    a:focus {
        color: #666;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
    }

    .container {
        width: 750px;
        -webkit-transition: width 0.3s;
        transition: width 0.3s;
        padding: 0 15px;
        position: relative;
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: "notokr-b" !important;
    }
    h1, .h1 {
        font-size: 46px;
    }
    h2, .h2 {
        font-size: 38px;
    }
    h3, .h3 {
        font-size: 24px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5 {
        font-size: 14px;
    }
    h6, .h6 {
        font-size: 12px;
    }
}

/* 3. Large tablets, small desktops */

@media all and (min-width:992px) {

    .container {
        width: 970px;
    }
}

/* 4. Large descktops */

 @media all and (min-width:1200px) {

    .container {
        width: 1170px;
    }
}
