@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/notokr-regular.eot);
  src: url(../fonts/notokr-regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/notokr-regular.woff2) format('woff2'),
       url(../fonts/notokr-regular.woff) format('woff'),
       url(../fonts/notokr-regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/notokr-bold.eot);
  src: url(../fonts/notokr-bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/notokr-bold.woff2) format('woff2'),
       url(../fonts/notokr-bold.woff) format('woff'),
       url(../fonts/notokr-bold.ttf) format('truetype');
}

/* COMMON */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    outline: none;
}
html {height: 100%;-webkit-tap-highlight-color:rgba(0,0,0,0.3);-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none;text-size-adjust: none;}
body {height: 100%; font-size: 14px;font-family: 'Roboto', 'Montserrat', '맑은 고딕', 'Malgun Gothic', '돋움','AppleSDGothicNeo', dotum, Helvetica, sans-serif;color: #222; letter-spacing: -.5px;word-spacing:-0.2px;-webkit-overflow-scrolling: touch;-ms-overflow-style: scrollbar;-webkit-font-smoothing: antialiased;}
h1, .h1, h2, .h2, h3, .h3, address {margin: 0;}
a {color: inherit;text-decoration: none;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;-webkit-transition:all 0.2s ease-in-out;-webkit-font-smoothing:antialiased;}
a:hover, a:focus {text-decoration: none;color: inherit;}
ul, ol, dl {list-style: none;}
::-webkit-input-placeholder {color: #ccc;}
::-moz-placeholder {color: #ccc; /* Firefox 19+ */}
:-ms-input-placeholder {color: #ccc; /* IE 10+ */}
:-moz-placeholder {color: #ccc; /* Firefox 18- */}
img[usemap], map area{outline: none;}
a, input, select, textarea {vertical-align:top;outline:none !important;-webkit-border-radius:0;}

#wrap {position: relative;max-width: 1920px;margin: 0 auto;overflow-x: hidden;}
#content {}
.scroll {overflow: auto; -webkit-overflow-scrolling: touch; /* iPhone touch scroll */}
input.cal {background: url(../img/ico_cal.png) no-repeat 98% 50%;}
input[type='email'], input[type='password'], input[type='text'], select, textarea {height: 35px;border-radius: 4px;}
input[readonly] {background: #f7f7f7;}

/* HEADER */
#header {position: relative;z-index: 3;}
#header h1 {text-align: center;}
#gnb {width: 100%;position: relative;z-index: 1;}
#gnb li {display: inline-block;font-size: 0;min-width: 16%;height: 40px;position: relative;}
#gnb li a {font-weight: bold;font-size: 14px; display: block;padding: 0 6px;line-height: 40px;text-align: center}
#gnb li ul {display: none;position: absolute;width: 100%; left: 0;top: 100%;text-align: center;}
#gnb li ul.active {display: block;}

/* FOOTER */
#footer {text-align: center;}
#footer ul {font-size:0;display: inline-block;}
#footer ul li {width:25%;height: 100%; display:inline-block;border-left:1px solid rgba(0,0,0,0.1);font-size:12px;position:relative;vertical-align:top;padding: 0 10px;}
#footer ul li:first-child {border-left:0;}

/* SUB */
.sub-title {margin-bottom: 15px;}
.sub-title h2 {font-size: 15px; line-height: 1;height: 20px;}
.sub-title p {font-size: 12px;}

/* PAGINATION */
.pagination {padding: 20px 0;text-align: center;}
.pagination a {display: inline-block;width: 25px;height: 25px;line-height: 25px;border: 1px solid #ddd;}
.pagination .active {background: #444;}

/* POPUP */
.popup {max-height: 75%;margin: 0 auto;position: fixed;top: 50%;left: 40px; right:40px;z-index: 5555;border: 1px solid #333;border-radius: 6px;background: #fff;overflow: auto;display: none;}
.popup .popup-top {width: 100%;height: 40px;text-align: center;line-height: 38px;background: #f6f6f6;}
.popup .popup-top img {margin-right: 5px;}
.popup .popup-top h1 {}
.popup .popup-top .btn-logout {height: 25px;padding: 0;display: block;background: none;border: 2px solid #fff;border-radius: 15px;position: absolute;right: 40px;top: 13px;padding: 0 10px;color: #fff;}
.popup .popup-top .btn-x {width: 25px;height: 25px;padding: 0;display: block;background: none;border: 2px solid #fff;border-radius: 100%;text-indent: -9999px;position: absolute;right: 10px;top: 13px;}
.popup .popup-top .btn-x:before {position: absolute;left: 0;right: 0;top: 0;content: "\f00d";display: inline-block;font: normal normal normal 13px/1 FontAwesome;text-indent: 0;line-height: 22px;color: #fff;}
.popup h2 {background: #e6e6e6;border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 6px 0;padding-left: 12px;color: #666;font-size: 14px;}
.popup .btn-box {border-top: 0;padding: 15px 0;}

/* TAB */
.tab-nav {font-size: 0;position: relative;margin: -15px; margin-bottom: 15px;}
.tab-nav li {display: inline-block;vertical-align: top;}
.tab-nav.col-2 li {width: 50%;}
.tab-nav.col-3 li {width: 33.3333%;}
.tab-nav.col-4 li {width: 25%;}
.tab-nav.col-5 li {width: 20%;}
.tab-nav a {font-size: 13px;vertical-align: middle;display: block;height: 40px;line-height: 38px; background: #e9e4de; text-align: center;}
.tab-nav li.active a {background: #fff; position: relative;z-index: 1;}
.tab-contents {}
.tab-contents .tab-item {display: none;}

/* BUTTON */
.btn-box {padding:20px 10px;border-top: 1px solid #ddd;margin-top: -1px;}
.btn-box img {width: 12px;vertical-align: middle;display: inline-block;margin-right:5px;margin-top: -2px;}
.btn.line {background: #fff; border-color: #cd0000;color: #cd0000}
.btn.line.blue {background: #fff;color: #222}
.btn.line.dark {background: #fff; border-color: #222;color: #222}
.btn.red {background: #cd0000;color: #fff;}
.btn.gray {background: #fafafa;border-color: #ddd;color: #888}
.btn.blue {background: #00aaee;border-color: #00aaee; color: #fff}
.btn.dark {background: #808080;border-color: #666;color: #fff}
.btn.black {background: #3a3a3a;border-color: #3a3a3a;color: #fff}
.btn-box.col-2, .btn-box.col-3 {display: table;width: 100%;border-collapse: separate;margin: 0 -1%;}
.btn-box.col-2 >a.btn {display: table-cell;width: 49%;}
.btn-box.col-3 >a.btn {display: table-cell;width: 32%;}
.btn-box.col-2 button.btn {float:left; width: 48%; margin: 0 1%;}
.btn-box.col-3 button.btn {float:left; width: 31%; margin: 0 1%;}

/* FORM FIELD */
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../img/arr_select.png) no-repeat 100% 50%;}
select::-ms-expand {display: none;}
.input-radio {display: block;position: relative;overflow: hidden;padding-right: 2px;vertical-align: middle;}
.input-radio input {z-index: 9;width: 15px;height: 15px;position: absolute;top: -100%;left: 2px;}
.input-radio label {display: block;height: 18px;line-height: 18px;padding: 0 0 0 23px;color: #555;cursor: pointer;position: relative;}
.input-radio label:before {content: "";display: block;width: 16px;;height: 16px;border: 1px solid #ccc;border-radius: 50%;position: absolute;left: 0;top: 50%;margin-top: -8px;}
.input-radio input + label.active:after, .input-radio input:checked + label:after {content: "";display: block;width: 6px;height: 6px;position: absolute;background: #222;border-radius: 50%;left: 5px;top: 6px;}
.input-check {display: block;position: relative;overflow: hidden;padding-right: 2px;vertical-align: middle;}
.input-check input {z-index: 9;width: 15px;height: 15px;position: absolute;top: -100%;left: 2px;}
.input-check label {display: block;height: 16px;line-height: 16px;padding: 0 0 0 26px;color: #555;cursor: pointer;position: relative;}
.input-check label:before {content: "";display: block;width: 16px;height: 16px;border: 1px solid #ccc;position: absolute;left: 0;top: 50%;margin-top: -8px;}
.input-check input + label.active:after, .input-check input:checked + label:after {content: "\f00c";font: normal normal normal 12px/1 FontAwesome;line-height: 16px;text-align: center;display: block;width: 16px;height: 16px;position: absolute;left: 0;top: 0;}
.input-radio.inline, .input-check.inline {display: inline-block;}
.form-group {margin: 0 -2px;overflow: hidden;}
.form-group>div {padding: 0 2px;}

/* TEXT STYLE */
.spot {color: #cd0000;font-weight: 700;}
.nowrap {overflow:hidden;word-break:break-all;white-space:nowrap;-o-text-overflow:"...";text-overflow:"...";}
.font-han {font-family:'AritaDotum';}
.font-eng {font-family:'Montserrat';}

/* 더보기 */
.more-view {text-align:center;padding:15px 12px;background:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;position:relative;margin-top:-1px;z-index: 1}
.more-view .btn-more {background:transparent;border:0;color:#888;}
.more-view .btn-more b {color:#222;font-weight:bold;}

/* ETC. */
#skippy {position:absolute;padding:10px;display:inline-block;border:2px solid #eee;background:#fff;z-index:9999;}
#mask {background:rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);position:fixed;width:100%;top:0;right:0;left:0;bottom:0;z-index:600;}
.browser-mask {background:rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);position:fixed;width:100%;top:0;right:0;left:0;bottom:0;z-index:9998;}
.browser-upgrade {position:fixed;top:0;left:0;width:100%;background:#f7f7f7;border-bottom:2px solid #f5b63b;color:#000;font-family:sans-serif;margin:0 0 1em;padding:1em 0;text-align:center;z-index:9999;}

/* BOX STYLE */
.w-box {padding: 15px;background: #fff;}
.g-box {padding: 15px;background: #f6f6f6;}
.w90 {width: 90%;}
.w95 {width: 95%;}
.w80 {width: 80%;}
.m-0 {margin-top:0 !important;margin-right:0 !important;margin-bottom:0 !important;margin-left:0 !important;}
.p-0 {padding-top:0 !important;padding-right:0 !important;padding-bottom:0 !important;padding-left:0 !important;}
.mt-0 {margin-top:0 !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}
.mt-30 {margin-top:30px !important;}
.mt-40 {margin-top:40px !important;}
.mt-50 {margin-top:50px !important;}
.mt-60 {margin-top:60px !important;}
.mt-70 {margin-top:70px !important;}
.mt-80 {margin-top:80px !important;}
.mt-90 {margin-top:90px !important;}
.mt-100 {margin-top:100px !important;}
.mt-110 {margin-top:110px !important;}
.mt-120 {margin-top:120px !important;}
.mt-130 {margin-top:130px !important;}
.mt-140 {margin-top:140px !important;}
.mt-150 {margin-top:150px !important;}
.mr-0 {margin-right:0 !important;}
.mr-5 {margin-right:5px !important;}
.mr-10 {margin-right:10px !important;}
.mr-15 {margin-right:15px !important;}
.mr-20 {margin-right:20px !important;}
.mr-30 {margin-right:30px !important;}
.mr-40 {margin-right:40px !important;}
.mr-50 {margin-right:50px !important;}
.mr-60 {margin-right:60px !important;}
.mr-70 {margin-right:70px !important;}
.mr-80 {margin-right:80px !important;}
.mr-90 {margin-right:90px !important;}
.mr-100 {margin-right:100px !important;}
.mr-110 {margin-right:110px !important;}
.mr-120 {margin-right:120px !important;}
.mr-130 {margin-right:130px !important;}
.mr-140 {margin-right:140px !important;}
.mr-150 {margin-right:150px !important;}
.mb-0 {margin-bottom:0 !important;}
.mb-5 {margin-bottom:5px !important;}
.mb-10 {margin-bottom:10px !important;}
.mb-15 {margin-bottom:15px !important;}
.mb-20 {margin-bottom:20px !important;}
.mb-30 {margin-bottom:30px !important;}
.mb-40 {margin-bottom:40px !important;}
.mb-50 {margin-bottom:50px !important;}
.mb-60 {margin-bottom:60px !important;}
.mb-70 {margin-bottom:70px !important;}
.mb-80 {margin-bottom:80px !important;}
.mb-90 {margin-bottom:90px !important;}
.mb-100 {margin-bottom:100px !important;}
.mb-110 {margin-bottom:110px !important;}
.mb-120 {margin-bottom:120px !important;}
.mb-130 {margin-bottom:130px !important;}
.mb-140 {margin-bottom:140px !important;}
.mb-150 {margin-bottom:150px !important;}
.ml-0 {margin-left:0 !important;}
.ml-5 {margin-left:5px !important;}
.ml-10 {margin-left:10px !important;}
.ml-15 {margin-left:15px !important;}
.ml-20 {margin-left:20px !important;}
.ml-30 {margin-left:30px !important;}
.ml-40 {margin-left:40px !important;}
.ml-50 {margin-left:50px !important;}
.ml-60 {margin-left:60px !important;}
.ml-70 {margin-left:70px !important;}
.ml-80 {margin-left:80px !important;}
.ml-90 {margin-left:90px !important;}
.ml-100 {margin-left:100px !important;}
.ml-110 {margin-left:110px !important;}
.ml-120 {margin-left:120px !important;}
.ml-130 {margin-left:130px !important;}
.ml-140 {margin-left:140px !important;}
.ml-150 {margin-left:150px !important;}
.pt-0 {padding-top:0 !important;}
.pt-5 {padding-top:5px !important;}
.pt-10 {padding-top:10px !important;}
.pt-15 {padding-top:15px !important;}
.pt-20 {padding-top:20px !important;}
.pt-30 {padding-top:30px !important;}
.pt-40 {padding-top:40px !important;}
.pt-50 {padding-top:50px !important;}
.pt-60 {padding-top:60px !important;}
.pt-70 {padding-top:70px !important;}
.pt-80 {padding-top:80px !important;}
.pt-90 {padding-top:90px !important;}
.pt-100 {padding-top:100px !important;}
.pt-110 {padding-top:110px !important;}
.pt-120 {padding-top:120px !important;}
.pt-130 {padding-top:130px !important;}
.pt-140 {padding-top:140px !important;}
.pt-150 {padding-top:150px !important;}
.pr-0 {padding-right:0 !important;}
.pr-5 {padding-right:5px !important;}
.pr-10 {padding-right:10px !important;}
.pr-15 {padding-right:15px !important;}
.pr-20 {padding-right:20px !important;}
.pr-30 {padding-right:30px !important;}
.pr-40 {padding-right:40px !important;}
.pr-50 {padding-right:50px !important;}
.pr-60 {padding-right:60px !important;}
.pr-70 {padding-right:70px !important;}
.pr-80 {padding-right:80px !important;}
.pr-90 {padding-right:90px !important;}
.pr-100 {padding-right:100px !important;}
.pr-110 {padding-right:110px !important;}
.pr-120 {padding-right:120px !important;}
.pr-130 {padding-right:130px !important;}
.pr-140 {padding-right:140px !important;}
.pb-0 {padding-bottom:0 !important;}
.pb-5 {padding-bottom:5px !important;}
.pb-10 {padding-bottom:10px !important;}
.pb-15 {padding-bottom:15px !important;}
.pb-20 {padding-bottom:20px !important;}
.pb-30 {padding-bottom:30px !important;}
.pb-40 {padding-bottom:40px !important;}
.pb-50 {padding-bottom:50px !important;}
.pb-60 {padding-bottom:60px !important;}
.pb-70 {padding-bottom:70px !important;}
.pb-80 {padding-bottom:80px !important;}
.pb-90 {padding-bottom:90px !important;}
.pb-100 {padding-bottom:100px !important;}
.pb-110 {padding-bottom:110px !important;}
.pb-120 {padding-bottom:120px !important;}
.pb-130 {padding-bottom:130px !important;}
.pb-140 {padding-bottom:140px !important;}
.pb-150 {padding-bottom:150px !important;}
.pl-0 {padding-left:0 !important;}
.pl-5 {padding-left:5px !important;}
.pl-10 {padding-left:10px !important;}
.pl-15 {padding-left:15px !important;}
.pl-20 {padding-left:20px !important;}
.pl-30 {padding-left:30px !important;}
.pl-40 {padding-left:40px !important;}
.pl-50 {padding-left:50px !important;}
.pl-60 {padding-left:60px !important;}
.pl-70 {padding-left:70px !important;}
.pl-80 {padding-left:80px !important;}
.pl-90 {padding-left:90px !important;}
.pl-100 {padding-left:100px !important;}
.pl-110 {padding-left:110px !important;}
.pl-120 {padding-left:120px !important;}
.pl-130 {padding-left:130px !important;}
.pl-140 {padding-left:140px !important;}
.pl-150 {padding-left:150px !important;}


/* ==========================================================================
 * 1. 320px ~ 767px : 100% phones, less than 768px
 * 2. 768px ~ 991px : 750px tablets, 768px and up
 * 3. 992px ~ 1199px : 970px desktops, 992px and up
 * 4. 1200px ~ : 1170px large desktops, 1200px and up
 * ========================================================================== */

/**
 * 2. Tablets
 */

@media all and (max-width:767px) {

    body {font-size: 13px;}

    #wrap {/* padding: 50px 0; */max-width: 320px}
    #header .btn-back {position:absolute;left:15px;top:0;width:30px;height:50px;background:url(../img/ico_back.png) no-repeat 0 50%;background-size:12px;text-indent:-9999px;}
    #header.fixed {position: fixed;top: 0;left: 0;right: 0;}
    #toggle-close {width: 40px;height: 40px;display: block;color: #000; text-align: center;cursor: pointer;outline: 0;border: 0;}
    #toggle-open {height: 50px;display: block;font-size: 18px; color: #000; text-align: center;cursor: pointer;position: absolute;right: 0;top: 0;outline: 0;border: 0;}
    .toggle-nav-wrap {position: absolute;top: 0;right: 0;z-index: 999;}
    .toggle-nav {width: 235px;height: 100%;position: fixed;top: 0;right: -235px;background: #fff;overflow-y: auto; z-index: 800;}
    .toggle-nav li {background: #666;border-bottom: 1px solid rgba(0, 0, 0, 0.1);border-top: 1px solid rgba(255, 255, 255, 0.1);}
    .toggle-nav li a {color: #fff;display: block;padding: 0 20px;line-height: 2.4;font-weight: bold;position: relative;}
    .toggle-nav li.has-sub>a:after {content: "+";display: block;position: absolute;right: 10px;top: 0;bottom: 0;}
    .toggle-nav li.last>a:after {display: none;}
    .toggle-nav li.has-sub>ul {display: none;}
    .toggle-nav li.active>ul {display: block !important;}
    .toggle-nav li.active>a:after {content: "-";}
    .toggle-nav li.last>a:after {display: none;}
    .toggle-nav li.last {background: #222;border-bottom: 1px solid #333;}
    .toggle-nav li.last a {border-bottom: 1px solid #000;}
    .toggle-nav li li {background: #fff;border-top: 1px solid #ccc;border-bottom: 0;}
    .toggle-nav li li a {color: #333;}
    #gnb li {display: block;height: auto;}
    #gnb li a {text-align: left;}
    #gnb li ul {position: relative;}

    #footer ul li {display:inline-block;font-size:12px;position:relative;padding: 0 10px;}
    #footer.fixed {position: fixed;left: 0;right: 0;bottom: 0;}
    #footer.fixed.fix-nav ul {font-size:0;height:50px;}
    #footer.fixed.fix-nav ul li {width:25%;height: 100%; border-left:1px solid rgba(0,0,0,0.1);vertical-align:top;padding: 0; padding-top:9px;}
    #footer.fixed.fix-nav ul li:first-child {border-left:0;}
    #footer .scroll-top {position:fixed; display:inline-block; right:20px; bottom:0; background:#808080; width:35px; height:35px; font-size:15px; color:#fff; line-height:35px; text-align:center; cursor:pointer; border-radius:100%; opacity:0; -webkit-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s;z-index: 3}
    #footer .scroll-top.is-showing {bottom:20px; opacity:0.7;}
    #footer .scroll-top {position:fixed; display:inline-block; right:20px; bottom:0; background:#808080; width:35px; height:35px; font-size:15px; color:#fff; line-height:35px; text-align:center; cursor:pointer; border-radius:100%; opacity:0; -webkit-transition:all 0.3s; -o-transition:all 0.3s; transition:all 0.3s;z-index: 3}
    #footer .scroll-top.is-showing {bottom:20px; opacity:0.7;}
}

/* 3. Large tablets, small desktops */

@media all and (min-width:992px) {

}

/* 4. Large descktops */

@media all and (min-width:1200px) {

}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(-o-min-device-pixel-ratio: 5/4),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* 고해상도 기기를 위한 스타일 조정 */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* 검정색의 글씨가 더 빠른 프린트가 가능: http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


